<section class="author" id="about">
  <div
    class="author__avatar"
    style="background-image:url('{{ site.author_avatar | relative_url }}')"
  ></div>
  <div>
    <h3>philenius</h3>
    <p>
      Hi there! I'm Phil - a software engineer who lives and breathes Python.
      After finishing my studies in machine learning, I've spent the last few
      years building production-grade ML pipelines, experimenting with deep
      learning models for computer vision, and architecting scalable
      cloud-native solutions.
    </p>
    <div class="author__links">
      <a
        class="btn btn--pill"
        href="https://github.com/{{ site.author_github }}"
        target="_blank"
        rel="noreferrer"
        >GitHub profile</a
      >
    </div>
  </div>
</section>
