a.post-link:hover, a.site-title:hover {
	text-decoration: none;	
	color: #607d8b;
}

a.post-link {
	color: #29353c;
}

.site-header {
	border-top-color: #607d8b;
}

code {
	background-color: #ececec;
}