 ---
 ---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto');
$base-font-family: -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
a.post-link:hover, a.site-title:hover {
	text-decoration: none;	
	color: #607d8b;
}
a.post-link {
	color: #29353c;
}
.site-header {
	border-top-color: #607d8b;
}
code {
	background-color: #ececec;
}